
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #4e4e4e, #2b2b2b); 
    color: #fff; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}


.inventory {
    padding: 20px;
    text-align: center; 
}

.car {
    display: inline-block; 
    margin: 20px;
    background-color: #2a2a2a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 300px;
}

.car:hover {
    transform: translateY(-5px);
}

.car img {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
}

.car .details {
    text-align: left;
}

.car h3 {
    margin-top: 10px;
    color: #fff; 
}

.car p {
    color: #ccc; 
}

.car button {
    background-color: #ffd700;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.car button:hover {
    background-color: #f0c900;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
